.section-team {
    background-color: $secondaryBackgroundColor;
}

.section-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondaryTextColor;
}

.section-team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.section-team__item:not(:last-child) {
    margin-right: 30px;
}